@page "/"
@using Marimo.MauiBlazor.Models
@using Marimo.MauiBlazor.ViewModels
@inject CalculatorViewModel ViewModel

<h1>@ViewModel.DisplaiedNumber</h1>
@code {
    protected override void OnInitialized()
    {
        StaticClass.ViewModel = ViewModel;

        ViewModel.PropertyChanged += (sender, e) =>
        {
            InvokeAsync(StateHasChanged);
        };
    }

    public static class StaticClass
    {
        public static CalculatorViewModel? ViewModel { get; set; }

        [JSInvokable("HandleKeyDown")]
        public static void HandleKeyDown(string key, bool ctrl)
        {
            ViewModel?.PushKeybord?.Execute(
            (ctrl, key) switch
            {
                (false, "0") => Key.Zero,
                (false, "1") => Key.One,
                (false, "2") => Key.Two,
                (false, "3") => Key.Three,
                (false, "4") => Key.Four,
                (false, "5") => Key.Five,
                (false, "6") => Key.Six,
                (false, "7") => Key.Seven,
                (false, "8") => Key.Eight,
                (false, "9") => Key.Nine,
                (false, ".") => Key.Dot,
                (false, "+") => Key.Plus,
                (false, "-") => Key.Minus,
                (false, "*") => Key.Multiply,
                (false, "/") => Key.Divide,
                (false, "Enter)") or (false, "=") => Key.Equal,
                (false, "Delete") or (false, "Escape") => Key.Delete,
                (false, "Backspace") => Key.Backspace,
                (true, "z") => Key.Undo,
                (true, "y") => Key.Redo,
                _ => throw new NotSupportedException()
            });
        }
    }
    
}