@page "/"
@using Marimo.MauiBlazor.ViewModels
@inject CalculatorViewModel ViewModel

<h1>@ViewModel.Number</h1>
@code {
    protected override void OnInitialized()
    {
        StaticClass.ViewModel = ViewModel;

        ViewModel.PropertyChanged += (sender, e) =>
        {
            InvokeAsync(StateHasChanged);
        };
    }

    public static class StaticClass
    {
        public static CalculatorViewModel ViewModel { get; set; }

        [JSInvokable("HandleKeyDown")]
        public static void HandleKeyDown(char key)
        {
            ViewModel.PushKeybord.Execute(key);
        }
    }
    
}