@page "/"
@using Microsoft.Maui.Controls
@using Marimo.WindowsCalculator.Models
@using Marimo.WindowsCalculator.ViewModels
@inject CalculatorViewModel ViewModel

<FluentBodyContent class="body-content">
    <div class="layout-root" width=@windowWidth height=@windowHeight>
        <div class="header">
            <div class="icons">
                <FluentIcon Value="@(new Icons.Filled.Size24.TextAlignJustify())" class="reduced-size" />

                <FluentIcon Value="@(new Icons.Filled.Size48.History())" class="icon-small" />
            </div>
            <div GridRow="2">3 + 5</div>
        </div>
        <div class="calculation-result">
            @ViewModel.DisplaiedNumber
        </div>
    </div>
</FluentBodyContent>
<style>
    .reduced-size
    {
        transform: scale(0.8);
        transform-origin: center;
    }
    .icon-small {
        transform: scale(0.4);
        transform-origin: center;
    }

    html body {
        min-width: 0px; 
        width: 100%;
    }

    .body, body-content{

        overflow-x: hidden;
        width: 100vw;
        min-width: 0;

    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width:0;
        max-width: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        min-width:0;
        box-sizing: border-box;
    }

    .layout-root {
        border: 10px solid black;
        border-radius: 5px;
    }

    .calculation-result{
    }
</style>
@code {

    private static double windowWidth;
    private static double windowHeight;

    private static Home? self;

    protected override void OnInitialized()
    {
        self = this;

        StaticClass.ViewModel = ViewModel;

        ViewModel.PropertyChanged += (sender, e) =>
        {
            InvokeAsync(StateHasChanged);
        };
    }

     void UpdateWindowSize(double width, double height)
    {
        windowWidth = width;
        windowHeight = height;
        InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public static Task UpdateWindowSizeAsync(double width, double height)
    {
        self?.UpdateWindowSize(width, height);
        return Task.CompletedTask;
    }


    public static class StaticClass
    {


        
        public static CalculatorViewModel? ViewModel { get; set; }

        [JSInvokable("HandleKeyDown")]
        public static void HandleKeyDown(string key, bool ctrl)
        {
            
            ViewModel?.PushKeybord?.Execute(
            (ctrl, key) switch
            {
                (false, "0") => InputAction.Zero,
                (false, "1") => InputAction.One,
                (false, "2") => InputAction.Two,
                (false, "3") => InputAction.Three,
                (false, "4") => InputAction.Four,
                (false, "5") => InputAction.Five,
                (false, "6") => InputAction.Six,
                (false, "7") => InputAction.Seven,
                (false, "8") => InputAction.Eight,
                (false, "9") => InputAction.Nine,
                (false, ".") => InputAction.Dot,
                (false, "+") => InputAction.Plus,
                (false, "-") => InputAction.Minus,
                (false, "*") => InputAction.Multiply,
                (false, "/") => InputAction.Divide,
                (false, "Enter)") or (false, "=") => InputAction.Equal,
                (false, "Escape") => InputAction.C,
                (false, "Delete") => InputAction.CE,
                (false, "Backspace") => InputAction.Backspace,
                (true, "z") => InputAction.Undo,
                (true, "y") => InputAction.Redo,
                _ => throw new NotSupportedException()
            });
        }
    }
    
}