@page "/"
@using Marimo.MauiBlazor.Models
@using Marimo.MauiBlazor.ViewModels
@inject CalculatorViewModel ViewModel

<h1>@ViewModel.DisplaiedNumber</h1>
@code {
    protected override void OnInitialized()
    {
        StaticClass.ViewModel = ViewModel;

        ViewModel.PropertyChanged += (sender, e) =>
        {
            InvokeAsync(StateHasChanged);
        };
    }

    public static class StaticClass
    {
        public static CalculatorViewModel? ViewModel { get; set; }

        [JSInvokable("HandleKeyDown")]
        public static void HandleKeyDown(string key, bool ctrl)
        {
            ViewModel?.PushKeybord?.Execute(
            (ctrl, key) switch
            {
                (false, "0") => InputAction.Zero,
                (false, "1") => InputAction.One,
                (false, "2") => InputAction.Two,
                (false, "3") => InputAction.Three,
                (false, "4") => InputAction.Four,
                (false, "5") => InputAction.Five,
                (false, "6") => InputAction.Six,
                (false, "7") => InputAction.Seven,
                (false, "8") => InputAction.Eight,
                (false, "9") => InputAction.Nine,
                (false, ".") => InputAction.Dot,
                (false, "+") => InputAction.Plus,
                (false, "-") => InputAction.Minus,
                (false, "*") => InputAction.Multiply,
                (false, "/") => InputAction.Divide,
                (false, "Enter)") or (false, "=") => InputAction.Equal,
                (false, "Escape") => InputAction.C,
                (false, "Delete") => InputAction.CE,
                (false, "Backspace") => InputAction.Backspace,
                (true, "z") => InputAction.Undo,
                (true, "y") => InputAction.Redo,
                _ => throw new NotSupportedException()
            });
        }
    }
    
}